@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}


// @include MyFlex();
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

#calendar {
    background: #CCB892;
    padding: 50px 10px;

    .swiper-slide {
        @include MyFlex();
        gap: 20px;

        .leftBox {
            width: 50%;
            background: white;
            height: 55vh;
            padding: 30px 20px;
            border-radius: 20px;

            img {
                width: 100%;
                height: 100%;
                aspect-ratio: 1/2;
                object-fit: cover;
                border-radius: 10px;
            }

            .swiper {
                width: 100%;
                height: 100%;
            }


        }

        .rightBox {
            width: 50%;
            height: 100%;
            width: 320px;

            .textBox {
                border-radius: 20px;
                background: #18407C;
                height: 30vh;
                padding: 20px;
                font-family: "Quicksand", sans-serif;

                .countdown {
                    font-size: 20px;
                    color: #CCB892;
                }

                p {
                    color: #CCB892;
                    font-weight: 600;
                }

                span {
                    color: white;
                    font-size: 20px;
                    width: 90%;
                }
            }
        }
    }

}

.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    font-size: 10px;
    color: white !important;
    background-color: rgba(128, 128, 128, 0.318) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    color: white !important;
    background: #CCB892 !important;
}

@media only screen and (max-width: 714px) {
    #calendar {

        .swiper-slide {
            flex-direction: column;

            .leftBox {
                width: 100%;
                height: 40vh;
            }

            .rightBox {
                margin-top: -100px;

                .textBox {
                    height: 30vh;

                }
            }
        }

    }
}